NodeRED_Dashboard/flows.json
[
    {
        "id": "9e09b70ce62b8156",
        "type": "tab",
        "label": "Door Monitoring Syste",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7cb7e8ae12961b5d",
        "type": "ui_chart",
        "z": "9e09b70ce62b8156",
        "name": "",
        "group": "bf937ae79f5126ce",
        "order": 2,
        "width": 7,
        "height": 6,
        "label": "Light Intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1260,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "494e13f0fb48191e",
        "type": "ui_gauge",
        "z": "9e09b70ce62b8156",
        "name": "",
        "group": "bf937ae79f5126ce",
        "order": 23,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Memory Usage",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 370,
        "y": 380,
        "wires": []
    },
    {
        "id": "8771af7fe6aab588",
        "type": "ui_chart",
        "z": "9e09b70ce62b8156",
        "name": "",
        "group": "bf937ae79f5126ce",
        "order": 4,
        "width": 7,
        "height": 6,
        "label": "Accelerations",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1300,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e780d1e81bb4053d",
        "type": "ui_text",
        "z": "9e09b70ce62b8156",
        "group": "bf937ae79f5126ce",
        "order": 30,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Proximity Sensor",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "71a1fcdcdb954a46",
        "type": "ui_gauge",
        "z": "9e09b70ce62b8156",
        "name": "",
        "group": "bf937ae79f5126ce",
        "order": 25,
        "width": 7,
        "height": 6,
        "gtype": "wave",
        "title": "CPU Usage",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 430,
        "y": 480,
        "wires": []
    },
    {
        "id": "787f1c9805a3b216",
        "type": "mqtt in",
        "z": "9e09b70ce62b8156",
        "name": "",
        "topic": "iot-2/type/ANDROID_DEVICE_TYPE/id/0/evt/status/fmt/acc",
        "qos": "0",
        "datatype": "auto",
        "broker": "28f7ceb9.8189a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "bfccd64af8a36af6",
                "cd3f8a1fc9b6d61d"
            ]
        ]
    },
    {
        "id": "bfccd64af8a36af6",
        "type": "function",
        "z": "9e09b70ce62b8156",
        "name": "dataFromatter",
        "func": "var a=msg.payload;\nvar g=a.split(',')\nvar dataArray=[parseFloat(g[0].replace('X: ','')),parseFloat(g[1].replace('Y: ','')),parseFloat(g[2].replace('Z: ',''))]\nmsg.payload=dataArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 400,
        "wires": [
            [
                "f4f6963eac896c6b",
                "3c0a629edbafd21e",
                "6a22d4a9e31a04dd",
                "1691232793c7a478",
                "1930397cd915f4cc",
                "5db00e885079a419"
            ]
        ]
    },
    {
        "id": "f4f6963eac896c6b",
        "type": "function",
        "z": "9e09b70ce62b8156",
        "name": "dataAnalyzerX-Axis",
        "func": "var dataArray=msg.payload;\nmsg.payload=dataArray[0];\nmsg.topic=\"X-Axis\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 560,
        "wires": [
            [
                "8771af7fe6aab588"
            ]
        ]
    },
    {
        "id": "3c0a629edbafd21e",
        "type": "function",
        "z": "9e09b70ce62b8156",
        "name": "dataAnalyzerY-Axis",
        "func": "var dataArray=msg.payload;\nmsg.payload=dataArray[1];\nmsg.topic=\"Y-Axis\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 600,
        "wires": [
            [
                "8771af7fe6aab588"
            ]
        ]
    },
    {
        "id": "6a22d4a9e31a04dd",
        "type": "function",
        "z": "9e09b70ce62b8156",
        "name": "dataAnalyzerZ-Axis",
        "func": "var dataArray=msg.payload;\nmsg.payload=dataArray[2];\nmsg.topic=\"Z-Axis\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 640,
        "wires": [
            [
                "8771af7fe6aab588"
            ]
        ]
    },
    {
        "id": "1691232793c7a478",
        "type": "function",
        "z": "9e09b70ce62b8156",
        "name": "dataAnalyzerX-Axis",
        "func": "var dataArray=msg.payload;\nmsg.payload=dataArray[0]+1.89;\nmsg.topic=\"X-Axis\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 320,
        "wires": [
            [
                "7cb7e8ae12961b5d"
            ]
        ]
    },
    {
        "id": "4f2e52f868a3d1b7",
        "type": "mqtt in",
        "z": "9e09b70ce62b8156",
        "name": "",
        "topic": "iot-2/type/ANDROID_DEVICE_TYPE/id/0/evt/status/fmt/memory",
        "qos": "0",
        "datatype": "auto",
        "broker": "28f7ceb9.8189a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "494e13f0fb48191e"
            ]
        ]
    },
    {
        "id": "317da3211f7e213c",
        "type": "mqtt in",
        "z": "9e09b70ce62b8156",
        "name": "",
        "topic": "iot-2/type/ANDROID_DEVICE_TYPE/id/0/evt/status/fmt/cpu",
        "qos": "0",
        "datatype": "auto",
        "broker": "28f7ceb9.8189a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 640,
        "wires": [
            [
                "71a1fcdcdb954a46"
            ]
        ]
    },
    {
        "id": "035e362d17950d5c",
        "type": "mqtt in",
        "z": "9e09b70ce62b8156",
        "name": "",
        "topic": "iot-2/type/ANDROID_DEVICE_TYPE/id/0/evt/status/fmt/proximity",
        "qos": "0",
        "datatype": "auto",
        "broker": "28f7ceb9.8189a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 230,
        "y": 420,
        "wires": [
            [
                "e780d1e81bb4053d"
            ]
        ]
    },
    {
        "id": "1930397cd915f4cc",
        "type": "function",
        "z": "9e09b70ce62b8156",
        "name": "calculateAbsoluteAcc",
        "func": "var x=msg.payload[0];\nvar y=msg.payload[1];\nvar z=msg.payload[2];\n\nvar absAcc=Math.pow(x,2)+Math.pow(y,2)+Math.pow(z,2)\nabsAcc=Math.sqrt(absAcc);\nmsg.payload=absAcc;\nmsg.topic=\"ABS ACC\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 720,
        "wires": [
            [
                "3bca39b358f98e4a"
            ]
        ]
    },
    {
        "id": "8499290dae1ac00b",
        "type": "change",
        "z": "9e09b70ce62b8156",
        "name": "Build Complete JSON Object",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.{\t    \"time\" : $millis(),\t    \"ax\" : d.\"X@Device\",\t    \"ay\" : d.\"Y@Device\",\t    \"az\" : d.\"Z@Device\",\t    \"a\" : d.\"A@Device\"\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.class",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 820,
        "wires": [
            [
                "1d978ce4a3bb57e0"
            ]
        ]
    },
    {
        "id": "5db00e885079a419",
        "type": "function",
        "z": "9e09b70ce62b8156",
        "name": "JSON Object Helper",
        "func": "var x=msg.payload[0];\nvar y=msg.payload[1];\nvar z=msg.payload[2];\n\nvar absAcc=Math.pow(x,2)+Math.pow(y,2)+Math.pow(z,2)\nabsAcc=Math.sqrt(absAcc);\nmsg.payload.d={\"X@Device\":x,\"Y@Device\":y,\"Z@Device\":z,\"A@Device\":absAcc}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 780,
        "wires": [
            [
                "8499290dae1ac00b"
            ]
        ]
    },
    {
        "id": "3bca39b358f98e4a",
        "type": "ui_chart",
        "z": "9e09b70ce62b8156",
        "name": "",
        "group": "bf937ae79f5126ce",
        "order": 6,
        "width": 7,
        "height": 6,
        "label": "Abs Accelerations",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1630,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "cd3f8a1fc9b6d61d",
        "type": "debug",
        "z": "9e09b70ce62b8156",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "8d57fcf5b0cb1e7e",
        "type": "inject",
        "z": "9e09b70ce62b8156",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "95",
        "payloadType": "str",
        "x": 600,
        "y": 600,
        "wires": [
            [
                "e780d1e81bb4053d"
            ]
        ]
    },
    {
        "id": "1d978ce4a3bb57e0",
        "type": "cloudantplus in",
        "z": "9e09b70ce62b8156",
        "name": "",
        "database": "",
        "service": "_ext_",
        "search": "_id_",
        "design": "",
        "index": "",
        "x": 1450,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "fa9c43642f5eb72e",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "7c1841097912e270",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "69e3df9a416beb2d",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "690edb0b294d5037",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "150877919c506d2b",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "925c2b69dcb89e3a",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "828bda12c76cc0db",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "0b8def0f5fd8d71d",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "8ca7d18bfb3e3631",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "5e6a4925b2308092",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "d415d744345bd3c0",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "b80ea42c7ccbb7a4",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "aee9ab650564eea4",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "8bf1f057820e83ae",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "06d57c97661a54c9",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "cf5be6a2689c8042",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "61c2ed5230da46cc",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "a4c56dc1c3dde60f",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "8e092ca81433270b",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 22,
        "width": 6,
        "height": 1
    },
    {
        "id": "1c93cb97948bff1b",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "40cbd1a29003e452",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 26,
        "width": 3,
        "height": 1
    },
    {
        "id": "1acbec33f4ee9089",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 27,
        "width": 6,
        "height": 1
    },
    {
        "id": "a258d64348bd4196",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "63789b976a47954c",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 29,
        "width": 3,
        "height": 1
    },
    {
        "id": "b8761e550ab51111",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "07b3882be141383e",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 32,
        "width": 3,
        "height": 1
    },
    {
        "id": "e82fb0b73a89d929",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 33,
        "width": 6,
        "height": 1
    },
    {
        "id": "34eace8fe98a4e43",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "4ea95696bcf769ef",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 35,
        "width": 3,
        "height": 1
    },
    {
        "id": "1345e4df5e1251d5",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 36,
        "width": 6,
        "height": 1
    },
    {
        "id": "2ba53f8075a519c4",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "03f0b8e843ab0ba6",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 38,
        "width": 3,
        "height": 1
    },
    {
        "id": "75a204b7e270706a",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 39,
        "width": 6,
        "height": 1
    },
    {
        "id": "d6564d83add4d127",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "36b13562760b2363",
        "type": "ui_spacer",
        "z": "9e09b70ce62b8156",
        "name": "spacer",
        "group": "bf937ae79f5126ce",
        "order": 41,
        "width": 3,
        "height": 1
    },
    {
        "id": "bf937ae79f5126ce",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "7c2527ed1875bb27",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "28f7ceb9.8189a2",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "23o4oj123kn41lk2tlk14g3234",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7c2527ed1875bb27",
        "type": "ui_tab",
        "name": "Door Monitoring System",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]